<div class="container py-5">
  <div class="row">
    <div class="col-12 col-lg-10 col-xl-8 mx-auto">
      <div class="card">
        <div class="card-body">
          <img src="https://assets-lighthouse.alphacamp.co/uploads/image/file/16716/ExportedContentImage_00.png"
            class="rounded mx-auto d-block" alt="link">
          <h5 class="card-title"><i class="fa-solid fa-arrows-rotate"></i>Shorten Your website</h5>
          <hr>
          <form method="POST" action="/">
            <div class="row g-2 mb-3">
              <label for="website" class="col-md-3 col-form-label">
                Enter your website
              </label>
              <div class="col-md-8">
                <input type="text" name="website" class="form-control" id="website" placeholder="Input URL here">
                <small class="text-muted form-text">ex: http:// example.com</small>
              </div>
            </div>
            <div class="d-grid gap-2 col-6 mx-auto">
              <button class="btn btn-outline-success " type="submit">Shorten</button>
            </div>
            <div>

            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>