<div class="container py-5">
  <div class="row">
    <div class="col-12 col-lg-10 col-xl-8 mx-auto">
      <div class="card text-center">
        <div class="card-body">
          <img src="https://assets-lighthouse.alphacamp.co/uploads/image/file/16716/ExportedContentImage_00.png"
            class="rounded mx-auto d-block" alt="link" style="max-width: 300px;">
          <h1 class="card-title"><i class="fa-solid fa-arrows-rotate"></i>URI Shortener</h1>
          <hr>
          <form method="POST" action="/">
            <div class="col-8 m-auto">
              <h4 class="text-warning">Link shortening successful! Visit your website at</h4>
              <h4 id="short-url"><a href="{{baseUrl}}{{shortUrl}}">localhost:3000/{{baseUrl}}{{shortUrl}}</a></h4>
            </div>
            <small>
              <button id="copy-btn" type="button" class="btn btn-outline-secondary">Copy</button>
              <script>
                const copyBtn = document.querySelector("#copy-btn");
                const url = document.querySelector("#short-url");
                //按鈕監聽器複製 （原使用document.execCommand()）
                copyBtn.addEventListener("click", () => {
                  navigator.clipboard.writeText(url.innerText).then(() => {
                    alert("URL has been copied !");
                  });
                });
              </script>
            </small>
            <div class="container">
              <div class="row">
                <div class="col">&nbsp;</div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>